html,
body,
head,
#root,
.App {
    margin: 0;
    width: 100%;
    height: 100%;
}

.Panel {
    float: left;
    background-color: aquamarine;
    width: 15%;
    height: 100%;
}

.Body {
    float: right;
    background-color: rebeccapurple;
    width: 85%;
    height: 100%;
}

.imgCanvas {
    margin-top: 5%;
    margin-right: 5%;
}