html,
body,
head,
#root,
.App {
    margin: 0;
    width: 100%;
    height: 100%;
}

.Panel {
    float: left;
    background-color: aquamarine;
    width: 15%;
    height: 100%;
}

.Body {
    float: right;
    background-color: rebeccapurple;
    width: 85%;
    height: 100%;
    overflow: auto;
    display: flex;
    justify-content: center;
}

.canvas {
    overflow: auto;
    overflow-x: scroll;
}

.zoomOptions {
    display: flex;
    flex-flow: row nowrap;
    position: fixed;
    bottom: 0px;
    right: 20px;
}

.zoomInput {
    width: 40px;
}

.imgCanvas {
    align-self: center;
}