html,
body,
head,
#root,
.App {
    margin: 0;
    width: 100%;
    height: 100%;
}

.Panel {
    float: left;
    background-color:aquamarine;
    width: 15%;
    height: 100%;
    position: fixed;
}

.Body {
    background-color: rebeccapurple;
    width: fit-content;
    height: initial;
    margin-left: 15%;
    display: flex;
    justify-content: center;
    min-height: -webkit-fill-available;
    min-width: -webkit-fill-available;
}

.zoomOptions {
    display: flex;
    flex-flow: row nowrap;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.zoomInput {
    width: 40px;
}

.imgCanvas {
    align-self: center;
}

.saveButton {
    position: fixed;
    right: 20px;
    top: 5px;
}

.buttons {
    display: flex;
    flex-flow: column nowrap;
}

.button {
    width: 90%;
    margin: 5%;
    margin-bottom: 0px;
}