:root {
    --wet-asphalt: #34495e
}

.panel {
    background-color: var(--wet-asphalt);
    height: fit-content !important;
    width: 30% !important;
    border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;
    position: fixed !important;
    bottom: 0px !important;
    left: 35% !important;
    /* margin: 0px !important; */
    padding: 5px;
}

.doneButton {
    position: absolute;
    bottom: 5px;
    right: 5px;
    float: right;
    width: 50px;
    height: 20px;
}

.closeButton {
    position: absolute;
    bottom: 5px;
    right: 60px;
    float: right;
    width: 50px;
    height: 20px;
}

.information {
    display: flex;
    flex-flow: nowrap row;
}

.custom-margin {
    margin: 5px;
}