.panel {
        background-color: rgb(212, 144, 212);
        height: fit-content;
        width: 600px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        position: fixed;
        bottom: 10px;
        left: 150px;
}
.doneButton {
    position: absolute;
    bottom: 5px;
    right: 5px;
    float: right;
    width: 50px;
    height: 20px;
}

.closeButton {
    position: absolute;
    bottom: 5px;
    right: 60px;
    float: right;
    width: 50px;
    height: 20px;
}

.information {
    display: flex;
    flex-flow: nowrap row;
}

.input {
    height: 20px;
    margin-left: 5px;
    margin-top: 20px;
}

.buttons {
    height: 30px;
}