.panel {
        background-color: rgb(212, 144, 212);
        height: fit-content;
        width: 600px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        position: fixed;
        bottom: 10px;
        left: 150px;
}
.doneButton {
    position: absolute;
    bottom: 5px;
    right: 5px;
    float: right;
    width: 50px;
    height: 20px;
}

.closeButton {
    position: absolute;
    bottom: 5px;
    right: 60px;
    float: right;
    width: 50px;
    height: 20px;
}

.information {
    display: flex;
    flex-flow: nowrap row;
}

.input {
    height: 20px;
    right: 15px;
    margin-top: 20px;
    width: 150px;

}

.buttons {
    height: 30px;
}

.lable {margin-left:80px;  margin-top: 20px; background-color: rgb(168, 214, 158);}


.buttons .closeButton{ margin-bottom: 400px; margin-right: 1080px; size: 100px; padding: 20px 60px; text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;}
.buttons .doneButton {margin-bottom: 400px; margin-right: 1000px; padding: 20px 60px; text-align: center;}